@import "tailwindcss";


::-webkit-scrollbar {
  display: none;
}

.roboto {
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 300;
}

.perspective {
  perspective: 1000px;
}
.transform-style-preserve-3d {
  transform-style: preserve-3d;
}
.backface-hidden {
  backface-visibility: hidden;
}
.rotate-y-180 {
  transform: rotateY(180deg);
}
