@import "tailwindcss";


::-webkit-scrollbar {
  display: none;
}

.no-select {
  user-select: none;      /* Disable text selection */
  -webkit-user-select: none; /* For Safari */
  -moz-user-select: none;    /* For Firefox */
  -ms-user-select: none;     /* For IE/Edge */
}

.roboto {
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 300;
}

@keyframes ping-slow {
  0% { transform: scale(0.9); opacity: 0.8; }
  75%, 100% { transform: scale(2); opacity: 0; }
}

.animate-ping-slow {
  animation: ping-slow 2s cubic-bezier(0, 0, 0.2, 1) infinite;
}
